{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Snapshot plugin for Craft CMS 3.x
 *
 * Snapshot Settings.twig
 *
 * @author    Enupal
 * @copyright Copyright (c) 2018 Enupal
 * @link      https://enupal.com
 * @package   Snapshot
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.field({
    label: "Please download and install <a href='https://wkhtmltopdf.org/'>wkhtmltopdf</a> 0.12.x in order to use Enupal Snapshot. More info <a href='https://enupal.com/craft-plugins/enupal-snapshot/docs/getting-started/installation-setup'>here</a>."|t('enupal-snapshot'),
}, null) }}
{{ forms.textField({
    label: 'Absolute Binary Path of wkhtmltopdf lib',
    instructions: '/usr/local/bin/wkhtmltopdf',
    id: 'pdfBinPath',
    name: 'pdfBinPath',
    required: true,
    errors: settings.getErrors('pdfBinPath'),
    value: settings['pdfBinPath']}) }}

{{ forms.textField({
    label: 'Absolute Binary Path of wkhtmltoimage lib',
    instructions: '/usr/local/bin/wkhtmltoimage',
    id: 'imageBinPath',
    name: 'imageBinPath',
    errors: settings.getErrors('imageBinPath'),
    required: true,
    value: settings['imageBinPath']}) }}

{{ forms.textField({
    label: 'Timeout',
    instructions: 'Timeout in seconds. Default is 60',
    id: 'timeout',
    name: 'timeout',
    errors: settings.getErrors('timeout'),
    value: settings['timeout']}) }}


<h1>{{ settings.volumeId }}</h1>