<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order {{ order.number }}</title>

    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .backgrounds:after {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 75vh;
            top: 0;
            -webkit-transform: skewY(-12deg);
            -ms-transform: skewY(-12deg);
            transform: skewY(-12deg);
            background: #eee;
            background: #eee;
            top: 12vh;
        }
        .invoice-box {
            width: 95%;
            margin: auto;
            padding: 10px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .subtitle {
            font-weight: bold;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td{
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>

{% set form = order.getPaymentForm() %}
{% set shippingAddress = order.getShippingAddress() %}
{% set billingAddress = order.getShippingAddress() %}

<body>
<div class="invoice-box backgrounds">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            {{ siteName }}
                        </td>

                        <td>
                            Order #: {{ order.number }}<br>
                            Created: {{ order.dateCreated|date }}<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="item">
                            <span class="subtitle">Customer:</span> {{ order.email }}<br>
                            <span class="subtitle">Total:</span> {{ order.totalPrice|currency(order.currency) }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% if shippingAddress or billingAddress %}
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                {% if shippingAddress %}
                                    <span class="heading"> Shipping Address</span>

                                    {{ shippingAddress|raw }}
                                {% endif %}
                            </td>

                            <td>
                                {% if billingAddress %}
                                    <span class="heading"> Billing Address</span>
                                    {{ billingAddress|raw }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endif %}

        <tr class="heading">
            <td>
                Payment Method
            </td>

            <td>
                Type
            </td>
        </tr>

        <tr class="details">
            <td>
                {{ order.getPaymentMethod()|t }}
            </td>

            <td>
                {{ order.getPaymentType()|t }}
            </td>
        </tr>

        <tr class="heading">
            <td>
                Item
            </td>

            <td>
                Quantity
            </td>
        </tr>

        <tr class="item last">
            <td>
                {{ form.name }}
            </td>

            <td>
                {{ order.quantity }}
            </td>
        </tr>

        {% if order.tax > 0 and order.isSubscription() %}
            <tr class="total">
                <td></td>

                <td>
                    Tax: {{ order.tax|currency(order.currency) }}
                </td>
            </tr>
        {% endif %}

        <tr class="total">
            <td></td>

            <td>
                Total: {{ order.totalPrice|currency(order.currency) }}
            </td>
        </tr>
    </table>
</div>
</body>
</html>